@use "sass:string";
@use "colors.scss" as *;
.notifications-window {
  border-radius: 20px;
  min-width: 400px;
  min-height: 550px;
  padding: 10px 10px 0;
  background: $surface_transparent;
  transition:
    background-color 1s ease-in-out,
    color 1s ease-in-out;

  .notification {
    border-radius: 4px;
    transition: 0.2s border-radius ease-in-out;
    background-color: $inverse_surface_transparent;
  }
}

.notifications-window__clear {
  background: $surface_bright;
  color: $on_surface;
  // 移除固定宽高限制
  // min-width: 32px;
  // min-height: 32px;

  // 使用足够的内边距来创建胶囊形状
  padding: 6px 12px;
  margin-right: 18px;

  // 使用较大的 border-radius 来确保两端是圆形
  border-radius: 9999px; // 或者使用 24px

  transition: all 0.1s ease-in-out; // 修改为 all 使背景色也有过渡效果

  &:hover {
    background: $on_primary_container;
    color: $surface;
  }

  &-icon {
    margin: 2px;
  }

  &-label {
    font-size: 0.9em;
  }
}

.notifications-window__list {
  revealer:first-child {
    .notification {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  revealer:last-child {
    .notification {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-bottom: 10px;
    }
  }
}
