@use "sass:string";
@use "sass:color";
@use "colors.scss" as *;
.dash-main {
  background-color: $surface_transparent;
  padding: 20px;
  border-radius: 0 30px 30px 0;
  border-left: 1px solid $inverse_surface_transparent;
}
.time-label {
  color: $on_surface;
  font-size: 6rem;
  font-weight: 600;
}
.uptime-label {
  color: $on_surface;
  font-size: 1rem;
  margin-bottom: 20px;
}
.datemenu-container {
  min-width: 300px;

  .time {
    font-size: 1.5rem;
  }

  .date {
    font-size: 1rem;
    // margin-bottom: 1rem;
  }

  calendar {
    // margin: 10px;
    background-color: $inverse_surface_transparent;
    // color: $on_surface;
    min-width: 280px;
    min-height: 280px;
    // min-height: 380px;
    padding: 20px;
    border-radius: 20px;
    // padding-top: 20px;
    border: unset;

    header {
      // padding-bottom: 10px;
      color: $on_surface;
      border: unset;
    }

    grid > * {
      min-width: 20px;
      min-height: 20px;
      border-radius: 10px;
      margin: 0.1rem;
      color: $on_surface;
      outline-color: $outline;
      // outline: unset;
    }

    .day-number {
      // min-width: 30px;
      // min-height: 30px;
      color: $on_surface;

      &:selected {
        color: $on_primary;
        background-color: $primary;
      }
    }

    .today {
      border-radius: 10px;
      margin: 0.1rem;
      min-width: 30px;
      min-height: 30px;
      color: $primary;
    }

    .other-month {
      color: $outline;
    }
  }
}
