@use "sass:color";

$background: #1a1111;

$blue: #b8c4ff;

$blue_container: #374379;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #b1d18a;

$green_container: #354e16;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #382e2d;

$inverse_primary: #904a47;

$inverse_surface: #f0dedd;

$on_background: #f0dedd;

$on_blue: #1f2c61;

$on_blue_container: #dde1ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #1f3701;

$on_green_container: #cdeda3;

$on_orange: #55200d;

$on_orange_container: #ffdbd0;

$on_primary: #571d1d;

$on_primary_container: #ffdad7;

$on_primary_fixed: #3b080a;

$on_primary_fixed_variant: #733331;

$on_purple: #462152;

$on_purple_container: #fad7ff;

$on_red: #561d26;

$on_red_container: #ffdadc;

$on_secondary: #442928;

$on_secondary_container: #ffdad7;

$on_secondary_fixed: #2c1514;

$on_secondary_fixed_variant: #5d3f3d;

$on_surface: #f0dedd;

$on_surface_variant: #d8c1c0;

$on_tertiary: #412d05;

$on_tertiary_container: #ffdea9;

$on_tertiary_fixed: #271900;

$on_tertiary_fixed_variant: #594319;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #ffb59d;

$orange_container: #723520;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #a08c8b;

$outline_variant: #534342;

$primary: #ffb3af;

$primary_container: #733331;

$primary_fixed: #ffdad7;

$primary_fixed_dim: #ffb3af;

$purple: #e6b6f1;

$purple_container: #5e386a;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #ffb2b9;

$red_container: #72333c;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #e7bdba;

$secondary_container: #5d3f3d;

$secondary_fixed: #ffdad7;

$secondary_fixed_dim: #e7bdba;

$shadow: #000000;

$source_color: #da5e5c;

$surface: #1a1111;

$surface_bright: #423736;

$surface_container: #271d1d;

$surface_container_high: #322827;

$surface_container_highest: #3d3231;

$surface_container_low: #231919;

$surface_container_lowest: #140c0c;

$surface_dim: #1a1111;

$surface_tint: #ffb3af;

$surface_variant: #534342;

$tertiary: #e2c28c;

$tertiary_container: #594319;

$tertiary_fixed: #ffdea9;

$tertiary_fixed_dim: #e2c28c;

$yellow: #f5bd6f;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: color.scale($surface, $alpha: -20%);
// $surface_transparent: $surface;
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
