@use "sass:string";
@use "colors.scss" as *;
.NotificationsPopup {
  background: transparent;
}

.notifications-popup {
  min-width: 450px;
  background: transparent;
  // background: $surface_transparent;
}
